
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/mainframe.css" crossorigin="anonymous">
</head>
<body>
<div class="container body-content">
    <div class="container">
        <div id="top_div" class="row justify-content-start" style="padding-top:10px;">
            <th:block th:each="position_num : ${#numbers.sequence(1,5)}">
                <div th:name="${'position_'+position_num}" class="col" style="padding-top:10px;">
                    <img alt="음료수" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/img/sold_out.png" />
                    <input type="text" value="0000" class="product_price" readonly></input>
                    <img src="/static/img/green_button.png" width="190" height="50" alt="">
                </div>
            </th:block>
        </div>
        <div id="bottom_div" class="row justify-content-start" style="padding-top:70px;">
            <th:block th:each="position_num : ${#numbers.sequence(6,10)}">
                <div th:name="${'position_'+position_num}" class="col" style="padding-top:10px;">
                    <img alt="음료수" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/img/sold_out.png" />
                    <input type="text" value="0000" class="product_price" readonly></input>
                    <img src="/static/img/green_button.png" width="190" height="50" alt="">
                </div>
            </th:block>
        </div>
        <div class="row justify-content-start" style="padding-top:70px;">
            <div class="col" style="padding-top:70px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="/static/img/black_space.jpeg" />
            </div>
            <div class="col" style="padding-top:100px;">
                <input class="amount_input" type="text" placeholder="잔액 0원" readonly></input>
                <input class="deposit_input" type="text" placeholder="금액을 입력하시오."></input><button class="deposit_btn">금액 투입</button><button class="change_btn">반환</button>
                <input class="change_input" type="text" placeholder="거스름돈 0원" readonly></input>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/js/mainframe.js"></script>
</body>
</html>
