
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container body-content">
    <div class="container">
        <div class="row justify-content-start" style="padding-top:10px;">

            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/coke.jpeg" />
                <input class="form-control" value="5000원" readonly></input>
                <input class="form-control" value="품절" readonly></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/coke.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/coke.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/sida.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:70px;">

            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/sida.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/sikhye.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="static/img/sikhye.jpeg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
            <div class="col" style="padding-top:10px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
        </div>
        <div class="row justify-content-start" style="padding-top:10px;">
            <div class="col" style="padding-top:70px;">
                <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
            </div>
            <div class="col" style="padding-top:70px;">
                <input class="form-control"></input>
                <input class="form-control"></input>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top:10px;">
            <input class="form-control"></input>
        </div>
    </div>

</div>
</body>
</html>
