.product_name[readonly] {
    background-color: white;
    border: none;
    opacity: 1;
}

input[type="text"] {

    text-align: center;
}

.amount_input {
    width:525px;
    height:100px;
}

.deposit_input{
    width:295px;
    height: 85px;
}

.deposit_btn {
    width:115px;
    height: 50px;
}

.change_btn {
    width:115px;
    height: 50px;
}

.change_input {
    width:525px;
    height:100px;
}